
<profile-detail>
    <div class="profile-detail_container">
            <div class="employee_info">
                <ul>
                    <li class="profile-detail-name"></li>
                    <li class="profile-detail-role1"></li>
                    <li class="profile-detail-role2"></li>
                </ul>
            </div>

            <form action="" method="post">
                <div><h4>変更する</h4></div>
                <label for="addUser_name">名前：</label>
                <input type="text" value="" name="user_name" id="addUser_name" placeholder="名前">
                <label for="addUse_role1">役割1 : </label>
                <select id="addUse_role1" name="user_role1">
                    <option value=""></option>
                    <option value="manager">管理者</option>
                    <option value="childcare_worker">保育士</option>
                    <option value="child_guidance_counselor">児童指導員</option>
                    <option value="nurse_supervisor">指導員</option>
                    <option value="physical_therapist">理学療法士</option>
                    <option value="doctor">医師</option>
                    <option value="others">その他</option>
                </select>
                <label for="addUse_role2">役割2 : </label>
                <select id="addUse_role2" name="user_role2">
                    <option value=""></option>
                    <option value="manager">管理者</option>
                    <option value="childcare_worker">保育士</option>
                    <option value="child_guidance_counselor">児童指導員</option>
                    <option value="nurse_supervisor">指導員</option>
                    <option value="physical_therapist">理学療法士</option>
                    <option value="doctor">医師</option>
                    <option value="others">その他</option>
                </select>
                <div class="button-container">
                    <div class="btn btn-primary" onclick="handleClick()">削除する</div>
                    <button class="btn btn-primary" type="submit">変更する</button>
                </div>
            </form>
    </div>
</profile-detail>